.navbar{
    width: 100%;
    background-color: skyblue;
    color: white;
}

.navbar-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}

.navbar-heading{
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

.list{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
}

.list-home:hover{
    transition-duration: 500ms;
    transform: scale(1.2);
}

.navbar-end{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.list-cart{
    font-size: 25px;
}

.logout-btn{
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.item-count{
    position: absolute;
    top: -10px;
    left: 16px;
    font-size: 16px;
    background-color: #059669;
    padding: 2px 6px;
    border-radius: 100%;
}


@media (max-width:700px){

    .navbar-sub {
        padding: 16px 30px;
    }

    .navbar-heading {
        font-size: 20px;
    }

}

@media (max-width: 480px) {

    .navbar-sub {
        padding: 16px 10px;
    }

    .navbar-heading {
        font-size: 16px;
    }

    .list {
        font-size: 16px;
    }

    .navbar-end {
        gap: 10px;
    }

    .logout-btn {
        padding: 8px;
        font-size: 12px;
    }

    .list-cart {
        font-size: 20px;
    }

    .item-count {
        font-size: 10px;
        top: -8px;
        left: 12px;
    }
    
}